<nav>
<!--    <a class="nav-item" load="/jokes1">${categories[0]}</a> | <a class="nav-item" load="/jokes2">${categories[1]}</a> | <a class="nav-item" load="/jokes3">${categories[2]}</a> | <a class="nav-item" load="seen-jokes">History</a>-->
    <ul class="navigation-list">
        <li>
            <a class="nav-item capitalize" load="/jokes1">${categories[0]}</a>
        </li>
        <li>
            <a class="nav-item capitalize" load="/jokes2">${categories[1]}</a>
        </li>
        <li>
            <a class="nav-item capitalize" load="/jokes3">${categories[2]}</a>
        </li>
        <li>
            <a class="nav-item capitalize" load="seen-jokes">History</a>
        </li>
    </ul>
</nav>